body{
    font-family: 'Merriweather', serif;
    font-family: 'Spline Sans', sans-serif;
    position: absolute;
    left: 100px;
    
    
}
.heading , .navbar{
    
    display: inline-block;
    
}
.navbar a{
    text-decoration: none;
    margin-right: 20px;
    color: black;

    
}
.navbar a:hover{
    background-color: lightgray;
}
.navbar{
    padding-left: 800px;
}
.start{
    position: relative;
    top: 40px;

}
.box{
    display: flex;
}

.box{
    padding-top: 150px;

}
.box1{
    margin-left: 100px;
}


.box1 img:hover{
    background-color: cadetblue;
    
}
span{
    color: magenta;
}
.box2{
    font-size: 45px;
}
button{
    background-color: mediumpurple;
    border-radius: 30px;
    color: mintcream;
    padding: 20px;
}
button:hover{
    background-color: lightgray;
}
.icon{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 40px;
    border-top: 1px solid lightpink;
    border-bottom: 1px solid lightpink;
    padding-top: 50px;
    padding-bottom: 50px;
}






 
 




